:root {
  --bg-color: #171717;
  --green-dark: #10502f;
  --green-light: #009554;
  --font-color: #bdc1c6;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
}
