:root {
  --bg-color: #171717;
  --table-bg: #202124;
  --table-row: #303134;
  --green-dark: #10502f;
  --green-light: #009554;
  --font-color: #bdc1c6;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
