.nav_buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5em;
  padding-top: 1em;
}

.main {
  display: flex;
  justify-content: center;
  padding: 0 5em;
}
