.table {
  background-color: #202124;
  margin: 2em auto;
  border-radius: 10px;
  padding: 0.5em;
}

.table td {
  text-align: center;
  padding: 0 0.5em;
}

.table .club_column {
  text-align: start;
  padding-right: 4em;
}
